body{
    background-image: url("../img/form.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 625px;
    display: flex;
    flex-direction: column;
}


#container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

form>input{
    width: 300px;
    border-radius: 5px;
    margin: auto;
}
form>label{
    margin: auto;
    margin-top: 20px;
    color: white;
}

#submit{
    margin-top: 20px;
    border-radius: 15px;
    width: 100px;
}

input.typing:hover{
    box-shadow: 0px 0px 5px 0px #795548;
}



