header>nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a.no_decoration,
li.no_decoration {
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}


.fa-bell:before {
    content: "\f0f3";
}

#bell {
    width: 20px;
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.rond {
    border-radius: 50%;
}

img.logo_sigma {
    height: 50px;
}

ul.notification>li {
    margin-left: 20px;
}

header>nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}