body {

    font-family: 'Poppins', sans-serif;
}

#chart_container {
  margin: 20px;
  padding: 20px;
  width: 50%;
  height: 400px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

#top-nav-barre {
    background-color: #2e2a27;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

#side-barre {
    width: 220px;
    height: 900px;
    padding: 5px;
    padding-top: 20px;
    background: #091c37;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.onglet {
    display: block;
    width: 100%;
    background-color: #0d274d;
    border-radius: 10px;
    padding: 5px;
}

.onglet>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.onglet>ul {
    list-style-type: none;
    margin-top: 0px;
    padding-left: 15px;
}

.div-onglet {
    display: flex;
    justify-content: space-between;
    background: #091c37;
    margin-top: 10px;
    cursor: pointer;
}


/* Styles pour le formulaire d'ajout de session d'entraînement */

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  width: 40%;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="date"],
input[type="time"],
input[type="number"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
