#side-barre {
    width: 220px;
    min-width: 220px;
    height: 100%;
    padding: 5px;
    padding-top: 20px;
    background: #091c37;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 0;
    padding-top: 100px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.remove-list {
    list-style: none;
    padding: 0px;
}

.onglet {
    display: block;
    width: 100%;
    background-color: #0d274d;
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 0 4px 0px white;
}

.onglet>div {
    color: white;
    background: #0d274d;
    margin-bottom: 10px;
}

.onglet>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.onglet>ul {
    list-style-type: none;
    margin-top: 0px;
    padding-left: 10px;
    margin-top: 5px;
    background: #17498f;
    border-radius: 10px;
}

.div-onglet {
    display: flex;
    justify-content: space-between;
    background: #091c37;
    margin-top: 10px;
    cursor: pointer;
}

.arrow-right::before {
    content: "";
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
}

.arrow-down::before {
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgb(255, 255, 255);
    display: inline-block;
    vertical-align: middle;
}

.arrow {
    display: block;
}

.center-vertical-inside {
    display: flex;
    align-items: center;
}

li.center-vertical-inside {
    min-height: 40px;
}

.no-link {
    color: white;
    text-decoration: none;
}