#top-nav-barre {
    background-color: #2e2a27;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.navbarList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbarList>li {
    margin-right: 15px;
}

.texte-propre {
    color: white;
    list-style-type: none;
    text-decoration-line: none;
    font-weight: bold;
}

#btn_burger {
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.burger_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.lines {
    display: block;
    width: 36px;
    height: 4px;
    color: white;
    background-color: white;
    border-radius: 5px;
}

#line1 {
    transform: translateY(-8px);
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

#line2 {
    transition: transform 0.2s ease-in-out;
}

#line3 {
    transform: translateY(8px);
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.cross>#line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    transform: rotate(45deg);
    position: relative;
    top: 4px;
    transform-origin: center;
}

.cross>#line2 {
    background: #00000000;
}

.cross>#line3 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    transform: rotate(-45deg);
    position: relative;
    top: -4px;
    transform-origin: center;
}

body {
    padding-top: 70px;
}