<aside class="hide" id="side-barre">
    <ul class="remove-list">
        <li>
            <div class="div-onglet">
                <div class="onglet">
                    <div>
                        <span class="onglet-title">Mon Titre</span>
                        <span class="arrow arrow-right"></span>
                    </div>
                    <ul class="remove-list">
                        <li class="center-vertical-inside"><a class="no-link" href="#">item1</a></li>
                        <li class="center-vertical-inside"><a class="no-link" href="#">item2</a></li>
                    </ul>
                </div>
            </div>
        </li>

        <li>
            <div class="div-onglet">
                <div class="onglet">
                    <div>
                        <span class="onglet-title">Mon Titre</span>
                        <span class="arrow arrow-right"></span>
                    </div>
                    <ul class="remove-list">
                        <li class="center-vertical-inside"><a class="no-link" href="#">item1</a></li>
                        <li class="center-vertical-inside"><a class="no-link" href="#">item2</a></li>
                    </ul>
                </div>
            </div>

        </li>
    </ul>
</aside>