
<nav id="top-nav-barre">

    <div class="burger_menu" id="btn_burger">
        <span class="lines" id="line1"></span>
        <span class="lines" id="line2"></span>
        <span class="lines" id="line3"></span>
    </div>

    <ul class="navbarList">

        <li class="">
            <a class="texte-propre" href="./index.php">Accueil</a>
        </li>
        <li class="">
            <a class="texte-propre" href="./deconnexion.php">Deconnexion</a>
        </li>
        <li class="">
            <p class="texte-propre"></p> 
        </li>
    </ul>
</nav>
